<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>2FA Demo - Secured page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout"/>
</form>
<div th:switch="${twoFactorEnabled}">
    <p th:case="true">Two-factor authentication Enabled. <a th:href="@{/2faconf.html}">Disable it.</a></p>
    <p th:case="false">Two-factor authentication Disabled. <a th:href="@{/2faconf.html}">Enable it.</a></p>
</div>
</body>
</html>